[Unit]
Description=Nginx Maintainer
Requires=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/venv/bin/python main.py
EnvironmentFile={{ install_dir }}/.env
